  /*검색 CSS*/
  .searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6.6rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
    border-radius: 1.7rem;
    box-shadow: 0rem 0.1rem 0.4rem rgb(0 0 0 / 30%);
    background-color: white;
    box-sizing: border-box;
  }
  
  .searchForm {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 1.2rem;
  }
  
  .searchFormLabel {
    font-size: 1.4rem;
    margin-right: 2rem;
  }
  
  .searchForm input[type=date] {
    width: 16rem;
    font-size: 1.5rem;
  }
  .searchForm input::-webkit-calendar-picker-indicator{
    width: 2rem;
    height: 2rem;
    padding-right: 0.5rem;

  }
  
  .searchFormInput {
    width: 18rem;
    height: 2.6rem;
    padding-left: 1rem;
    box-sizing: border-box;
    border: 0.1rem solid #D2D2D2;
    border-radius: 0.2rem;
    outline: none;
    font-family: "Noto Sans CJK KR";
    font-size: 1.4rem;
  }
  
  .searchFormSearchBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.6rem;
    padding: 0 1.8rem;
    border: none;
    border-radius: 0.6rem;
    font-size: 1.6rem;
    color: white;
    background-color: #444444;
    cursor: pointer;
  }
  
  .searchVehicleNum {
    width: 37.2rem;
  }

.searchVehicleNum,
.searchFormInput {
  padding-left: 1rem;
  box-sizing: border-box;
  border: 0.1rem solid #D2D2D2;
  border-radius: 0.2rem;
  outline: none;
  font-family: "Noto Sans CJK KR";
  font-size: 1.4rem;
}

.searchForm *{
  height: 4.1rem;
}
.today{
  font-size: 1.6rem;
    border-radius: 0.6rem;
    border: none;
    color: white;
    background-color: #444444;
    width: 6.8rem;
}
.yesterdayTomorrow{
  text-align: center;
    color: white;
    font-size: 3rem;
    background-color: #A4A4A4;
    border: none;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
}